<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark" >
  <div class="container-fluid bg-dark"   theme="bg-dark">
    <a class="navbar-brand" href="#">Assist Me</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Busco Ayuda</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#hogar">Apoyo en el Hogar</a></li>
            <li><a class="dropdown-item" href="#mascotas">Apoyo para mi mascota</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Cotiza aqui</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Presto Ayuda
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/customPlayer">Informaciòn General</a></li>
            <li><a class="dropdown-item" href="#PrestaTusServicios">Ingresa tus datos</a></li>
            <li><a class="dropdown-item" href="#PrestaTusServicios">Revisa tus citas</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Comunícate con nosotros</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Contáctanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<hr class="featurette-divider">
<router-outlet></router-outlet>

 <!-- FOOTER -->
 <footer class="container-fluid" >
  <div class="bg-dark text-center">
    <div class="py-3">
        <h6 class="display-8 fw-bold text-white">@2023 Assist Me, Inc. <a href="#">Privacy</a> &middot; <a href="#">Terms</a></h6>
    </div>
  </div>  
</footer>

