<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>

  <div class="carousel-inner">

    <div class="carousel-item active col-xxl-8 px-4 py-5" id="home">
      <div class="col-xxl-2 mx-auto align-items-center">
        <img class="mx-auto mb-4" src="/assets/img/AssitMe_logo.png" alt="" width="180" height="186">
        <h1 class="display-5 fw-bold text-body-emphasis">Assist Me</h1>        
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="lead mb-8">Bienvenidos a Assist Me, donde ofrecemos soluciones prácticas para recibir ayuda en las
          labores del hogar y el cuidado de mascotas.
          Nuestro objetivo es ayudar a las familias ocupadas a mantener sus hogares limpios y organizados, y a sus
          mascotas felices y saludables.
          Ofrecemos una amplia gama de servicios personalizados para satisfacer todas sus necesidades, desde la limpieza
          y organización de su hogar hasta el cuidado y paseo de sus mascotas..</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Acceder</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/usuarios">Registro</button>
        </div>
      </div>
    </div>

    <div  class="carousel-item col-xxl-8 px-4 py-5" id="hogar">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/assets/img/servicios.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="560"
            height="228" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Hogar</h1>
          <p class="lead">Ofrecemos servicios para ayudar a las familias a recibir ayuda en limpieza y organización,
            tales como limpieza de baños y cocinas, aspirado y lavado de pisos, lavado de ventanas y mucho más.
            Todos nuestros colaboradores han sido cuidadosamente seleccionados y capacitados para proporcionar el mejor
            servicio posible.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Cotiza aquì</button>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item col-xxl-8 px-4 py-5" id="mascotas">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Mascotas</h1>
          <p class="lead">Mascotas: Proporcionamos cuidado de mascotas, como paseos, alimentación, cuidado de la higiene
            y mucho más. Nos aseguramos de que sus mascotas reciban el amor y la atención que merecen mientras usted
            está ocupado en su día a día..</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Cotiza aquì</button>
          </div>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/assets/img/mascotas.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="637"
            height="364" loading="lazy">
        </div>
      </div>
    </div>

    <div class="carousel-item col-xxl-8 px-4 py-5" id="PrestaTusServicios">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/assets/img/PrestaTusServicios.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
            width="561" height="326" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Presta tus servicios</h1>
          <p class="lead">Si quieres prestar tus servicios a través de nuestra plataforma, ingresa tu informaciòn en la
            opciòn abajo y nosotros te contactaremos.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Ingresa tu informacion</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Revisa tus citas</button>
          </div>
        </div>
      </div>
    </div>


    <div class="carousel-item col-xxl-8 px-4 py-5" id="PrestaTusServicios">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Contàctanos</h1>
          <p class="lead">Si está interesado en nuestros servicios, contáctenos hoy mismo para programar una consulta y
            recibir una cotización personalizada.
            Estamos disponibles para responder a sus preguntas y proporcionarle toda la información que necesite para
            tomar una decisión informada.
            ¡No espere más! Deje que [nombre de la empresa] le ayude a mantener su hogar y sus mascotas en perfectas
            condiciones.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Ingresa tu informacion</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Revisa tus citas</button>
          </div>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/assets/img/PrestaTusServicios.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
            width="561" height="326" loading="lazy">
        </div>
      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>